<!doctype html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aplicaciones</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/foundation.css" %}" />
    <script src="{% static "js/vendor/modernizr.js" %}"></script>
  </head>
  <body>
  	<div class="row">
      <div class="large-12 columns">
        <h1>{{deposito.id_cofre}}</h1>
      </div>
      <div class="medium-6 columns">
		<p>{{deposito.denominacion}}</p>
		<p>{{deposito.unidades}}</p>
	  </div>
	</div>
  </body>
</html>